<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Gene Name" matInput [(ngModel)]="local_data.geneName"> <!--value="local_data.geneName"-->
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplateEmpty">
    <input placeholder="Result" matInput [(ngModel)]="local_data.result"> <!--value="local_data.result"-->
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplateEmpty">
    <input placeholder="Text" matInput [(ngModel)]="local_data.text"> <!--value="local_data.text"-->
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.geneName}}</b> with Restult of <b>{{local_data.result}}</b>?
  </ng-template>
  <ng-template #elseTemplateEmpty>

  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
